<hr/>
<h2 class="text-center">Customer</h2>
<hr/>
<div class="container">
  <form [formGroup]="customerForm">
    <div *ngIf="formMessage !=''">
      <p class="alert alert-info" role="alert">{{formMessage}}</p>
    </div>
    <div class="row">
      <div class="col-2">
        <div class="form-check">
          <label class="form-check-label" for="active">Active</label>
          <input class="form-check-input" type="radio" formControlName="active" [(ngModel)]="customer.active"
                 [value]="true"
                 id="active" aria-describedby="active">
        </div>
        <div class="form-check">
          <label class="form-check-label" for="inactive">Inactive</label>
          <input class="form-check-input" type="radio" formControlName="active" [(ngModel)]="customer.active"
                 [value]="false"
                 id="inactive" aria-describedby="active">
        </div>
      </div>
      <div class="col-2">
        <label class="form-check-label" for="company">Is Company</label>
        <input class="form-check-input" type="radio" formControlName="company" [(ngModel)]="customer.company"
               [value]="true" id="company"
               aria-describedby="company">
        <label class="form-check-label" for="companyFalse">Is not Company</label>
        <input class="form-check-input" type="radio" formControlName="company" [(ngModel)]="customer.company"
               [value]="false" id="companyFalse"
               aria-describedby="company">
      </div>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Set primary
            contact
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let contact of customer.contactList" (click)="setPrimary(contact)"
                    ngbDropdownItem>{{contact.name + ", " + contact.phone + ", " + contact.email}}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Set billing
            address
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button (click)="setBillingAddress(address)" *ngFor="let address of customer.addressList"
                    ngbDropdownItem>{{address.street + ", " + address.number + ", " + address.otherDetails + ", "
            + address.county + ", " + address.country + ", " + address.postalCode}}</button>
          </div>
        </div>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>Set deliver
            address
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
            <button (click)="setDeliveryAddress(address)" *ngFor="let address of customer.addressList"
                    ngbDropdownItem>{{address.street + ", " + address.number + ", " + address.otherDetails + ", "
            + address.county + ", " + address.country + ", " + address.postalCode}}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="dateAdded">Date added</label>
        <input type="text" formControlName="dateAdded" [ngModel]="customer.dateAdded | date:'yyyy-MM-dd HH:mm:ss'"
               id="dateAdded" aria-describedby="dateAdded" placeholder="Enter dateAdded" class="form-control"
               readonly/>
      </div>
      <div class="col">
        <label for="lastDateModified">Date modified</label>
        <input type="text" formControlName="lastDateModified"
               [ngModel]="customer.lastDateModified | date:'yyyy-MM-dd HH:mm:ss'" id="lastDateModified"
               aria-describedby="lastDateModified" placeholder="Enter lastDateModified"
               class="form-control" readonly/>
      </div>


    </div>
    <hr/>
    <div class="row">
      <div class="col-3">
        <label for="name">Name :</label>
        <input type="text" formControlName="name" [(ngModel)]="customer.name" id="name" aria-describedby="name"
               placeholder="Enter name" class="form-control" required/>
      </div>
      <div class="col-2">
        <label for="number">Number :</label>
        <input type="text" formControlName="number" [(ngModel)]="customer.number" id="number" aria-describedby="number"
               placeholder="Enter number" class="form-control" required/>
      </div>
      <div class="col">
        <label for="description">Description :</label>
        <textarea type="text" formControlName="description" [(ngModel)]="customer.description" id="description"
                  aria-describedby="description" placeholder="Enter description"
                  class="form-control" rows="1"></textarea>
      </div>
    </div>
    <hr/>
    <button (click)="showFormContact()" class="btn btn-outline-primary m-2">Add contact</button>
    <button (click)="showEditList()" class="btn btn-outline-secondary m-2">Edit contact</button>
    <button (click)="showDeleteList()" class="btn btn-outline-danger m-2">Delete contact</button>

    <div class="row m-0" [hidden]=editList>
      <hr/>
      <div class="col mb-3">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-secondary" id="dropdownBasic4" ngbDropdownToggle>
            Choose contact to edit
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
            <button *ngFor="let contact of customer.contactList" (click)=editSave(contact)
                    ngbDropdownItem>{{contact.name + ", " + contact.phone + ", " + contact.email}}</button>
          </div>
        </div>
      </div>
      <hr/>
    </div>

    <div class="row" [hidden]=addContact>
      <hr/>
      <div class="col">
        <div class="form-check m-3">
          <input class="form-check-input" type="checkbox" value="" id="primary" [(ngModel)]="contact.primary"
                 formControlName="primary">
          <label class="form-check-label" for="primary">
            Primary
          </label>
        </div>
      </div>
      <div class="col">
        <label for="nameContact">Contact name :</label>
        <input type="text" formControlName="nameContact" [(ngModel)]="contact.name" id="nameContact"
               aria-describedby="nameContact"
               placeholder="Enter contact name" class="form-control"/>
      </div>
      <div class="col">
        <label for="emailContact">Contact email :</label>
        <input type="text" formControlName="emailContact" [(ngModel)]="contact.email" id="emailContact"
               aria-describedby="emailContact"
               placeholder="Enter contact email" class="form-control"/>
      </div>
      <div class="col mb-3">
        <label for="phoneContact">Contact phone :</label>
        <input type="text" formControlName="phoneContact" [(ngModel)]="contact.phone" id="phoneContact"
               aria-describedby="phoneContact"
               placeholder="Enter contact phone" class="form-control"/>
      </div>
      <button (click)="saveContact()" class="btn btn-outline-danger m-2">Save Contact</button>
      <hr/>
    </div>

    <div class="row m-0" [hidden]=deleteList>
      <hr/>
      <div class="col mb-3">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-danger" id="dropdownBasic" ngbDropdownToggle>
            Choose contact to delete
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <button *ngFor="let contact of customer.contactList" (click)="deleteContact(contact)"
                    ngbDropdownItem>{{contact.name + ", " + contact.phone + ", " + contact.email}}</button>
          </div>
        </div>
      </div>
      <hr/>
    </div>

    <button (click)="showFormAddress()" class="btn btn-outline-primary m-2">Add address</button>
    <button (click)="showEditAddress()" class="btn btn-outline-secondary m-2">Edit address</button>
    <button (click)="showAddressDeleteList()" class="btn btn-outline-danger m-2">Delete address</button>
    <div class="row" [hidden]="editAddress" >
      <div class="col">
        <hr/>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-secondary mb-2" id="dropdownBasic6" ngbDropdownToggle>
            Choose address to edit
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic6">
            <button (click)="editAddressList(address)" *ngFor="let address of customer.addressList"
                    ngbDropdownItem>{{address.street + ", " + address.number + ", " + address.otherDetails + ", "
            + address.county + ", " + address.country + ", " + address.postalCode}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" [hidden]=addAddress>
      <hr/>
      <div class="col-2">
        <div class="form-check m-3">
          <input class="form-check-input" type="checkbox" value="" id="primaryBilling"
                 [(ngModel)]="address.primaryBilling" formControlName="primaryBilling">
          <label class="form-check-label" for="primaryBilling">
            Default billing
          </label>
        </div>
        <div class="form-check m-3">
          <input class="form-check-input" type="checkbox" value="" id="primaryDelivery"
                 [(ngModel)]="address.primaryDelivery" formControlName="primaryDelivery">
          <label class="form-check-label" for="primaryDelivery">
            Default delivery
          </label>
        </div>
      </div>
      <div class="col">
        <label for="addressStreet">Street :</label>
        <input type="text" [(ngModel)]="address.street" formControlName="addressStreet" id="addressStreet"
               aria-describedby="addressStreet"
               placeholder="Enter street name" class="form-control"/>
      </div>
      <div class="col">
        <label for="addressNumber">Number :</label>
        <input type="text" [(ngModel)]="address.number" formControlName="addressNumber" id="addressNumber"
               aria-describedby="addressNumber"
               placeholder="Enter street number" class="form-control"/>
      </div>
      <div class="col">
        <label for="otherDetails">Address details :</label>
        <input type="text" [(ngModel)]="address.otherDetails" formControlName="otherDetails" id="otherDetails"
               aria-describedby="otherDetails"
               placeholder="Enter details" class="form-control"/>
      </div>
      <div class="col">
        <label for="city">City :</label>
        <input type="text" [(ngModel)]="address.city" formControlName="city" id="city" aria-describedby="city"
               placeholder="Enter city" class="form-control"/>
      </div>
      <div class="col">
        <label for="county">County :</label>
        <input type="text" [(ngModel)]="address.county" formControlName="county" id="county" aria-describedby="county"
               placeholder="Enter county" class="form-control"/>
      </div>
      <div class="col">
        <label for="country">Country :</label>
        <input type="text" [(ngModel)]="address.country" formControlName="country" id="country"
               aria-describedby="country"
               placeholder="Enter country" class="form-control"/>
      </div>
      <div class="col mb-3">
        <label for="postalCode">Postal code :</label>
        <input type="text" [(ngModel)]="address.postalCode" formControlName="postalCode" id="postalCode"
               aria-describedby="postalCode"
               placeholder="Enter postal code" class="form-control"/>
      </div>
      <button (click)="saveAddress()" class="btn btn-outline-danger m-2">Save Address</button>
      <hr/>
    </div>

    <div class="row" [hidden]="addressDeleteList" >
      <div class="col">
        <hr/>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-danger" id="dropdownBasic7" ngbDropdownToggle>
            Choose address to delete
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic7">
            <button (click)="deleteAddress(address)" *ngFor="let address of customer.addressList"
                    ngbDropdownItem>{{address.street + ", " + address.number + ", " + address.otherDetails + ", "
            + address.county + ", " + address.country + ", " + address.postalCode}}</button>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <button class="btn btn-primary" type="submit" (click)="submitCustomer()">Save</button>
  </form>
  <hr/>
  <a [routerLink]="['/customer']" class="btn btn-secondary ">Go to customer list</a>
</div>
