<div class="d-flex fixed-left position-fixed flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-dimensions">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Options</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="customer" class="nav-link text-white" routerLinkActive ="active">
        Customers
      </a>
    </li>
    <li>
      <a routerLink="invoice" class="nav-link text-white" routerLinkActive ="active">
        Invoices
      </a>
    </li>
    <li>
      <a routerLink="product" class="nav-link text-white" routerLinkActive ="active">
        Products
      </a>
    </li>
    <li>
      <a routerLink="manufacturer" routerLinkActive ="active" class="nav-link text-white">
        Manufacturers
      </a>
    </li>
    <li>
      <a routerLink="vat" routerLinkActive ="active" class="nav-link text-white">
        Vat
      </a>
    </li>
  </ul>
  <hr>

</div>

