<hr/>
<h2 class="text-center">Product</h2>
<hr/>
<div class="container">
  <form [formGroup]="productForm">
    <div *ngIf="formMessage !=''">
      <p class="alert alert-info" role="alert">{{formMessage}}</p>
    </div>

    <div class="row">
      <div class="col-3">
        <span class="me-2 fw-bold">Manufacturer : {{manufacturer ? manufacturer.name : "Not set"}}</span>
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Set manufacturer
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let manufactureritem of manufacturerList" (click)="setManufacturer(manufactureritem)"
                    ngbDropdownItem>{{manufactureritem.name}}</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <span class="me-2 fw-bold">Vat : {{vat ? vat.name : "Not set"}}</span>
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic" ngbDropdownToggle>
            Set vat
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic">
            <button *ngFor="let vatitem of vatList" (click)="setVar(vatitem)"
                    ngbDropdownItem>{{vatitem.name}}</button>
          </div>
        </div>
      </div>
      <div class="col-2 ms-auto">
        <label for="dateAdded">Date added</label>
        <input type="text" formControlName="dateAdded" [ngModel]="product.dateAdded | date:'yyyy-MM-dd HH:mm:ss'"
               id="dateAdded" aria-describedby="dateAdded" placeholder="Enter dateAdded" class="form-control"
               readonly/>
      </div>
      <div class="col-2 ms-0">
        <label for="lastDateModified">Date modified</label>
        <input type="text" formControlName="lastDateModified"
               [ngModel]="product.lastDateModified | date:'yyyy-MM-dd HH:mm:ss'" id="lastDateModified"
               aria-describedby="lastDateModified" placeholder="Enter lastDateModified"
               class="form-control" readonly/>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-3">
        <label for="name">Name :</label>
        <input type="text" formControlName="name" [(ngModel)]="product.name" id="name" aria-describedby="name"
               placeholder="Enter name" class="form-control" required/>
      </div>
      <div class="col-2">
        <label for="name">Sku :</label>
        <input type="text" formControlName="sku" [(ngModel)]="product.sku" id="sku" aria-describedby="sku"
               placeholder="Enter sku" class="form-control"/>
      </div>
      <div class="col-2">
        <label for="name">Ean :</label>
        <input type="text" formControlName="ean" [(ngModel)]="product.ean" id="ean" aria-describedby="ean"
               placeholder="Enter ean" class="form-control"/>
      </div>
      <div class="col">
        <label for="description">Description :</label>
        <textarea type="text" formControlName="description" [(ngModel)]="product.description" id="description"
                  aria-describedby="description" placeholder="Enter description"
                  class="form-control" rows="1"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label for="name">Price :</label>
        <input type="number" formControlName="price" [(ngModel)]="product.price" id="price" aria-describedby="price"
               placeholder="Enter price" class="form-control"/>
      </div>
      <div class="col-2">
        <label for="name">Price with vat :</label>
        <input type="number" formControlName="priceWithVat" [(ngModel)]="product.priceWithVat" id="priceWithVat" aria-describedby="priceWithVat"
               placeholder="Price with vat" class="form-control" readonly/>
      </div>
      <div class="col-2">
        <label for="name">Quantity :</label>
        <input type="number" formControlName="quantity" [(ngModel)]="product.quantity" id="quantity" aria-describedby="quantity"
               placeholder="Enter quantity" class="form-control"/>
      </div>
    </div>
    <hr/>
    <button class="btn btn-primary" type="submit" (click)="submitProduct()">Save</button>
  </form>
  <hr/>
  <a [routerLink]="['/product']" class="btn btn-secondary ">Go to product list</a>
</div>
