::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #212529;
}
::-webkit-scrollbar-thumb:hover
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #212529;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

